# Compiler files
cache/
out/

# Ignores broadcast
broadcast/

# Foundry `forge doc` output and other docs/* except repo-native architecture
docs/*
!docs/adr/
!docs/adr/**
!docs/architecture.md

# Dotenv file
.env

lcov.info
